<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Windows_service.Properties.Settings.WindowssConnectionString" connectionString="Data Source=.;Initial Catalog=Windowss;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="Model1" connectionString="data source=.;initial catalog=Windowss;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>